language: ruby
rvm:
  - 2.3.3
sudo: false
services:
  - redis-server
addons:
  code_climate:
    repo_token: 48aeb1397404fe6079c14bbca8911959d29b44065e305a70b1bc6604d3effe46
before_script:
  - bundle exec rake db:migrate RAILS_ENV=test
