<table class="table">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Author</th>
      <th>Replies</th>
    </tr>
  </thead>
  <tbody>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= link_to discussion.title, discussion %></td>
        <td><%= discussion.user.username %></td>
        <td><%= discussion.comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
