<% content_for :sidebar do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to 'Start a New Discussion', new_discussion_path %>
    </div>
  </div>
<% end %>

<h1>Discussions</h1>
<%= render 'table' %>
