<div class="row">

  <div class="col-md-9">
    <h1>Discussion Forum</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <% @discussions.each do |discussion| %>
          <tr>
            <td><%= link_to discussion.title, discussion %></td>
            <td><%= discussion.comments.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to 'Start a New Discussion', new_discussion_path %>
      </div>
    </div>
  </div>

</div>
