**<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!!! <%= @user.username %></h1>
    <p>
      You have a new comment notification.<br>
      Someone comment your post: <br/><br/>
      <%= @comment.body %>
    </p>
    <p>
      Just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>