<h1>
  <%= @guide_category.name %>
  <%= link_to 'New Guide', new_guide_path('guide[guide_category_id]' => @guide_category.id), class: 'btn btn-primary pull-right' %>
  <%= link_to 'New Category', new_guide_category_path, class: 'btn btn-primary category-btn pull-right' %>
</h1>

<table class="guide-categories table">
  <tbody>
    <% @guide_category.guides.each do |guide| %>
      <tr>
        <td>
          <%= link_to guide.title, guide %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
