<div class="row">
  <div class="col-md-9">
    <h1>Discussion Forum</h1>

    

    <table class="table">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Posts</th>
        </tr>
      </thead>
      <tbody>
        <% @forum_topics.each do |forum_topic| %>
          <tr>
            <td><%= link_to forum_topic.title, forum_topic_discussions_path(forum_topic) %></td>
            <td><%= forum_topic.discussions.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-3">

    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to 'Suggest a New Topic', new_forum_topic_path %>
      </div>
    </div>
  </div>

</div>
