---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/questions/?access_token=h5Q5iW2AAJSr0n4bB7(shA))&filter=withbody&key=ZEGYIdaRKJ4eFpqjOrX6dw((&order=asc&pagesize=100&site=gamedev&tagged=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tags":["c++","algorithm","ai","ruby"],"owner":{"reputation":101,"user_id":5072,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/1f8df7b7bc3eeb38cf2835db82c2c1ff?s=128&d=identicon&r=PG","display_name":"NullVoxPopuli","link":"http://gamedev.stackexchange.com/users/5072/nullvoxpopuli"},"is_answered":true,"view_count":1420,"answer_count":1,"score":0,"last_activity_date":1296589445,"creation_date":1296543264,"last_edit_date":1296589445,"question_id":7948,"link":"http://gamedev.stackexchange.com/questions/7948/ruby-implementing-alpha-beta-pruning-for-tic-tac-toe","title":"Ruby:
        implementing alpha-beta pruning for tic-tac-toe","body":"<p>So, alpha-beta
        pruning seems to be the most efficient algorithm out there aside from hard
        coding (for tic tac toe). However, I''m having problems converting the algorithm
        from the C++ example given in the link: <a href=\"http://www.webkinesia.com/games/gametree.php\"
        rel=\"nofollow\">http://www.webkinesia.com/games/gametree.php</a></p>\n\n<p>Players
        are either 1 or 0, so doing 1 - player will switch the player</p>\n\n<pre><code>  WIN
        = 1\n    LOSS = -1\n    DRAW = 0\n    INFINITY = 100\n    def calculate_ai_next_move\n        best_move
        = -1\n        best_score = -INFINITY\n\n        cur_player = COMPUTER\n        self.remaining_moves.each
        do |move|\n          self.make_move_with_index(move, cur_player)\n          score
        = -self.alphabeta(-INFINITY,INFINITY, 1 - cur_player)\n          self.undo_move(move)\n\n          if
        score &gt; best_score\n            best_score = score\n[...]
