<% content_for :sidebar do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to 'Suggest a New Category', new_library_category_path, class: 'btn btn-default btn-md' %>
      <%= link_to 'New Library', new_library_path, class: 'btn btn-default btn-md' %>
    </div>
  </div>
<% end %>

<h1>Libraries</h1>
<%= render 'library_categories/table' %>
