<% content_for :sidebar do %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to 'New Tutorial', new_tutorial_path %>
    </div>
  </div>
<% end %>

<h1>Tutorials</h1>
<%= render 'table' %>
