<h1>Tutorials</h1>

<table class="table">
  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<%= tutorial.score %></td>
        <% if tutorial.url.present? %>
          <td><%= link_to tutorial.title, tutorial.url, target: '_blank' %></td>
        <% else %>
          <td><%= link_to tutorial.title, tutorial %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Tutorial', new_tutorial_path %>
