<div class="row">

  <h1>About RubyGameDev.com</h1>

  <p>
    RubyGameDev.com is built to be resource to the Ruby community. It provides 
    a central location for discussing topics related to game programming with 
    Ruby. The goal of RubyGameDev.com is to help others get started doing game 
    programming with Ruby and to help Ruby become one of the best languages to 
    use for game programming. Together, we can help teach, discuss, learn, and 
    build better libraries.
  </p>

  <p>
    This site was initially created by <%= link_to 'Andrew Havens', 'http://www.andrewhavens.com', target: '_blank' %> 
    during the 2013 RailsRumble competition. The inspiration for this site came 
    while preparing for his 2013 RubyConf presentation. RubyGameDev.com is 
    maintained by Andrew Havens and other members of the Ruby community. You 
    are encouraged to help us maintain and improve this site. Please visit our 
    GitHub repository and consider fixing a bug or adding a feature.
  </p>
</div>
