<div class="row">
  <div class="col-md-7">

    <div class="panel panel-default">
      <div class="panel-body">
    <h2>Discussion Forum</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Posts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Game Programming Basics</a></td>
          <td>5</td>
        </tr>
        <tr>
          <td><a href="#">Specific Libraries</a></td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
    
        <div class="panel panel-default">
      <div class="panel-body">
    <h2>Tutorials</h2>
    <table class="table">
      <tbody>
        <tr>
          <td><span class="glyphicon glyphicon-thumbs-up"></span> 77</td>
          <td><a href="#">How to submit a tutorial to RubyGamDev.com while keeping your sanity</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

    <div class="panel panel-default">
      <div class="panel-body">
    <h2>Libraries</h2>
    <table class="table">
      <tbody>
        <tr>
          <td><a href="#">Game Engines</a> (3)</td>
        </tr>
        <tr>
          <td><a href="#">Physics Engines</a> (2)</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>

  <div class="col-md-5">

    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Digest Email</h2>
        <p>Sign up for an email digest so you never miss a thing!</p>
        <form class="form-inline" role="form">
          <p>
            <label class="radio-inline">
              <input type="radio" name="frequency" value="daily" checked="checked"> Daily
            </label>
            <label class="radio-inline">
              <input type="radio" name="frequency" value="weekly"> Weekly
            </label>
            <label class="radio-inline">
              <input type="radio" name="frequency" value="monthly"> Monthly
            </label>
          </p>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="email@example.com">
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Questions</h2>
        <table class="table">
          <tbody>
            <tr>
              <td><a href="#">Is ruby a suitable language for game development?</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Showcase</h2>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/150x150">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
