<div class="row">
  <div class="col-md-7">

    <h2>Discussion Forum</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary" href="#">View details »</a></p>

    <h2>Tutorials</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary" href="#">View details »</a></p>

    <h2>Libraries</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary" href="#">View details »</a></p>
  </div>

  <div class="col-md-5">
    <h2>Digest Email</h2>
    <p>Sign up for an email digest so you never miss a thing!</p>
    <form class="form-inline" role="form">
      <p>
        <label class="radio-inline">
          <input type="radio" name="frequency" value="daily" checked="checked"> Daily
        </label>
        <label class="radio-inline">
          <input type="radio" name="frequency" value="weekly"> Weekly
        </label>
        <label class="radio-inline">
          <input type="radio" name="frequency" value="monthly"> Monthly
        </label>
      </p>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="email@example.com">
      </div>
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>


    <h2>Questions</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary" href="#">View details »</a></p>


    <h2>Showcase</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-primary" href="#">View details »</a></p>
  </div>
</div>

<!-- <div class="row">

  <div class="alert-box">Welcome to RubyGameDev.com!</div>

  <div class="columns large-6">
    <div class="home_panel">
      <h5>Discussion Forum</h5>
      <p></p>
    </div>

    <div class="home_panel">
      <h5>Tutorials</h5>
      <p></p>
    </div>

    <div class="home_panel">
      <h5>Libraries</h5>
      <p></p>
    </div>
  </div>

  <div class="columns large-6">
    <div class="home_panel">
      <h5>Email Digest</h5>
      <h6 class="subheader">Sign up for an email digest so you never miss a thing!</h6>
      <div class="row">
      <div class="small-9">
        <div class="small-3 columns">
          <%= label_tag 'frequency', 'Frequency', class: 'right inline' %>
        </div>
        <div class="small-6 columns">
          <%= select_tag 'frequency', options_for_select(%w{Daily Weekly Monthly}), class: 'dropdown medium' %>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <input type="text" placeholder="email@example.com">
        </div>
        <div class="small-3 columns">
          <a href="#" class="button prefix">Subscribe</a>
        </div>
        <p>

        </p>
      </div>
    </div>

    <div class="home_panel">
      <h5>Questions</h5>
      <p></p>
    </div>

    <div class="home_panel">
      <h5>Showcase</h5>
      <p></p>
    </div>

  </div>

</div>
 -->