<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @library_category.title %>
</p>

<%= link_to 'Edit', edit_library_category_path(@library_category) %> |
<%= link_to 'Back', library_categories_path %>
